@media only screen and (max-width:1600px)
    
{
    
    .main-nav {margin-right: 50px;}

    .main-nav li {font-size: 22px; margin-left: 100px;}

    .logo
    {
        width: 140px;
        height: auto;  
    }
        
    .text-box
    {
        width:1140px;
        top:60%;
        left:65%;
    }
}
    